@page
@using FinPlan.Web.Areas.Identity.Pages.Account
@model LogoutModel
@{
    ViewData["Title"] = "Выход";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <p>Выход из системы...</p>
</div>